a==1.0
aiml==0.8.6
appdirs==1.4.3
argcomplete==1.10.0
asgiref
backcall==0.1.0
bcrypt
beautifulsoup4==4.8.0
blis==0.4.1
gunicorn
decorator==4.4.2
distlib==0.3.1
Django==3.1.4
docker==4.3.1
dockerpty==0.4.1
docopt==0.6.2
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
filelock==3.0.12
Flask==1.1.1
future==0.18.2
gensim==3.8.3
gitdb==4.0.5
GitPython==3.1.7
globals
google-auth==1.23.0
haversine==2.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
murmurhash==1.0.2
networkx==2.5
nibabel==3.2.1
nltk==3.4.4
nodeenv==1.3.5
numpy==1.19.2
oauthlib==3.1.0
olefile==0.46
packaging==20.3
pandas==0.23.4
parsel==1.5.2
parso==0.7.0
pathlib==1.0.1
pdfminer==20191125
pickleshare==0.7.5
Pillow==7.2.0
pkgconfig==1.5.1
plac==1.1.3
pluggy==0.13.1
ply==3.11
popper==2020.9.1
pre-commit==2.3.0
preshed==3.0.2
prompt-toolkit==3.0.5
prov==2.0.0
psycopg2==2.8.6
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.9.8
Pygments==2.6.1
pykwalify==1.7.0
PyMySQL==0.9.3
rdflib==5.0.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.1
scipy==1.4.1
scripts==2.0
selenium==3.141.0
semver==2.13.0
sklearn==0.0
slate3k==0.5.3
whitenoise==5.2.0
Unidecode==1.1.1
urllib3==1.25.9
utils==1.0.1
virtualenv==20.2.1
w3lib==1.21.0
wasabi==0.8.0
wcwidth==0.1.9
webdriver-manager==2.3.0
websocket-client==0.57.0
Werkzeug==0.15.5
word2number==1.1
wordnet==0.0.1b2
WTForms==2.3.3
xlrd==1.2.0
XlsxWriter==1.3.6
zipp==3.1.0
